@keyframes appear {
	0% {
		transform: translate(0, 30px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

.card {
	position: relative;
	background: $color-box-bg;
	margin-bottom: 40px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	animation: appear 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: forwards;
	opacity: 0;
	transform: translate(0, 30px);

	@for $i from 2 through 20 {
		&:nth-of-type(#{$i}) {
			animation-delay: #{$i * 0.03}s;
		}
	}

	nav.corner {
		position: absolute;
		display: flex;
		align-items: center;
		top: 0px;
		right: 16px;
		height: 48px;
	}

	h2 {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 53px;
		height: 49px;
		background: $color-box-header;
		padding: 0 28px;
		user-select: all;
		color: $color-primary;
		border-bottom: 1px solid $color-box-divider;
	}

	> div {
		padding: 28px;
	}

	label {
		display: block;
		color: $color-body;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 21px;
	}

	p {
		font-size: 14px;
		margin-bottom: 20px;
		user-select: text;
		> * {
			user-select: text;
		}
	}

	strong {
		font-weight: 600;
	}

	input[type='text'],
	input[type='password'] {
		display: block;
		width: 100%;
		max-width: 320px;
		background: $color-input-bg;
		border: 1px solid $color-input-border;
		border-radius: 3px;
		font-size: 12px;
		padding: 8px;
		margin-bottom: 16px;
	}

	.error {
		display: block;
		margin-bottom: 16px;
		font-size: 12px;
		color: $color-warning;
	}
}
