<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.iota.ict.utils">
    <Appenders>
        <Console name="ConsoleStdOut" target="SYSTEM_OUT">
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
            <!-- Hide stacktrace on stdout -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t/%logger{0}]   %msg%throwable{none}%n"/>
        </Console>
        <Console name="ConsoleStdErr" target="SYSTEM_ERR">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- Hide stacktrace on stderr - show '- e.class: + e.msg' after the log.msg
                 highlight ERROR=red and WARN=yellow -->
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level [%t/%logger{0}]   %msg - %throwable{short}%n}"/>
        </Console>
        <LogAppender name="LogAppender" />
    </Appenders>
    <Loggers>
        <!--
           Enable logging to
           * stdout/stderr TRACE,DEBUG,INFO to stdout and WARN, ERROR to stderr
           * rolling-file:=${ctx:logDir}/${ctx:logFilename} if ${ctx:logFileEnabled} is set to 'true' (default:false)
           ** rolling-file interval is daily
           All ctx:variables will be controlled by Main.Log4jConfig
        -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleStdOut"/>
            <AppenderRef ref="ConsoleStdErr"/>
            <AppenderRef ref="RoutingRollingFile"/>
            <AppenderRef ref="LogAppender"/>
        </Root>
    </Loggers>
</Configuration>