%form

  %div.section
    %div.section_title General

  %div.property
    %div.name Ict Name
    %div.input
      %input
    %div.description The name of your Ict.

  %div.property
    %div.name Ict Name
    %div.input
      %input
    %div.description The name of your Ict.