* {
  cursor: default;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  background-color: #252525;
  background-image: url("../imgs/stripe_texture_overlay.png");
  background-repeat: repeat;
  border-right-width: 12px;
  border-right-style: solid;
  border-image: linear-gradient(to top, #44f, #0db) 1 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
nav #logo {
  background-image: url("../imgs/logo.png");
  background-size: 200px auto;
  background-repeat: no-repeat;
}
nav ul li {
  letter-spacing: 0.05em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.15s color, 0.1s padding-left;
  padding-left: 5px;
}
nav ul li.highlighted, nav ul li:hover {
  color: white;
  padding-left: 0;
}

#content {
  background-color: #FFF;
}
#content .page header {
  background-color: #F8F8F8;
  background-image: url("../imgs/stripe_texture_overlay_light.png");
  background-repeat: repeat;
}
#content .page header h1 {
  letter-spacing: 0.05em;
}
#content .page .page_content p {
  font-size: 16px;
}
#content .page .page_content ul li {
  font-size: 16px;
}
#content .page .page_content code {
  background-color: #F8F8F8;
  padding: 4px 10px;
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Nimbus Mono L", monospace;
  border: 1px solid #DDD;
  border-radius: 3px;
}

form {
  background-color: #F8F8F8;
  border-radius: 5px;
  background-image: url("../imgs/stripe_texture_overlay_light.png");
  background-repeat: repeat;
}
form .property input {
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  border-left: 3px solid #0ca;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  transition: 0.2s border-left-color;
  cursor: text;
}
form .property input:focus {
  outline: none;
  border-left-color: #0a9;
}
form .property .description {
  padding: 5px;
}
form .property .description .hidden_info {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  text-align: justify;
}
form .property .description::before {
  content: "?";
  background-color: #0ca;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  transition: 0.2s background-color;
  cursor: help;
}
form .property .description:hover::before {
  background-color: #0a9;
}

.swal-button-container button,
button {
  background-color: #0ca;
  color: #FFFFFF;
  transition: 0.15s background-color;
  font-weight: bold;
  cursor: pointer;
}
.swal-button-container button:hover,
button:hover {
  background-color: #0a9 !important;
}

.ixi,
.neighbor {
  background-color: #F8F8F8;
  background-image: url("../imgs/stripe_texture_overlay_light.png");
  background-repeat: repeat;
}
.ixi .name,
.neighbor .name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ixi .stats div,
.neighbor .stats div {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  font-weight: bold;
}
.ixi .stats div:before,
.neighbor .stats div:before {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}
.ixi .stats .all:before,
.neighbor .stats .all:before {
  content: "ALL";
}
.ixi .stats .new:before,
.neighbor .stats .new:before {
  content: "NEW";
}
.ixi .stats .requested:before,
.neighbor .stats .requested:before {
  content: "REQUESTED";
}
.ixi .stats .invalid:before,
.neighbor .stats .invalid:before {
  content: "INVALID";
}
.ixi .stats .ignored:before,
.neighbor .stats .ignored:before {
  content: "IGNORED";
}

#log {
  border-radius: 5px;
  background-color: #252525;
  color: #F8F8F8;
  font-family: "Nimbus Mono L", monospace;
  white-space: pre;
  padding: 20px 30px;
  overflow: scroll;
}

form,
.ixi,
.neighbor,
#log {
  border-width: 0;
  border-left-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to top, #0bd, #0db) 1 100%;
}
form .log.WARN,
.ixi .log.WARN,
.neighbor .log.WARN,
#log .log.WARN {
  color: #FF0;
  font-weight: bold;
}
form .log.ERROR,
.ixi .log.ERROR,
.neighbor .log.ERROR,
#log .log.ERROR {
  color: #F00;
  font-weight: bold;
}

/*# sourceMappingURL=theme.css.map */
