$color-bg: linear-gradient(to bottom, #d1d2de 0%, #e9e9e9 100%);
$color-body: #404040;
$color-header: #201040;
$color-body-button: #fff;

$color-sidebar-bg: linear-gradient(to right, #0b0943 0%, #3a1532 100%);
$color-sidebar-body: rgba(255, 255, 255, 0.5);
$color-sidebar-body-hover: #fff;
$color-sidebar-item: rgba(255, 255, 255, 0.1);
$color-sidebar-item-hover: rgba(255, 255, 255, 0.2);
$color-sidebar-item-active: linear-gradient(to right, #6a0552 0, rgba(159, 0, 96, 0.7) 10px);
$color-sidebar-item-border: #a1038e;
$color-sidebar-divider: #bfbfbf;

$color-box-header: #fff;
$color-box-divider: #f3f3f4;
$color-box-bg: linear-gradient(to bottom, #f7f5f5 0%, #f5f7f7 100%);

$color-input-bg: #fff;
$color-input-border: #d3d3d3;

$color-action: #e84393;
$color-primary: #35a4e4;
$color-secondary: #636e72;
$color-success: #00b8af;
$color-warning: #db3733;
