.log {
	.card {
		* {
			user-select: text;
		}

		p {
			display: flex;
			font-family: 'PT Mono';
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 8px;
			word-break: break-all;
			word-break: break-word;

			&.warn * {
				color: $color-warning;
			}

			strong {
				font-weight: 600;
				flex: 0 0 140px;
			}

			@include layout(mobile) {
				display: block;
				width: 100%;
			}
		}
	}
}
